version: "3"
services:
  app:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - .:/app
    command: sh -c "npm install && npm run build"
    environment:
      NODE_ENV: production

  nginx:
    image: nginx:latest
    ports:
      - "8053:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./build:/usr/share/nginx/html
    depends_on:
      - app
    restart: always